<nav class="desktop">
  <a *ngFor="let game of gameCategories"
     [routerLink]="['/' + game.id ]"
     routerLinkActive="router-link-active">
    {{game.title}}
  </a>
  <img class="menu" (click)="menuOpened = !menuOpened" src="../assets/menu.svg" alt="Menu">
</nav>
<nav class="mobile" *ngIf="menuOpened">
  <a *ngFor="let game of gameCategories"
     [routerLink]="['/' + game.id ]"
     (click)="menuOpened = false"
     routerLinkActive="router-link-active">
    {{game.title}}
  </a>
</nav>
<router-outlet></router-outlet>
