@import '../../styles.scss';

.container {
  background: $background-color;
  padding: 86px 25px 36px 25px;
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 36px 8px;
    app-game-item {
      margin: 0 auto;
    }
  }
}

.no-games {
  height: calc(100vh - 142px);
  text-align: center;
}
