@font-face {
  font-family: "Zurich";
  src: url("/assets/Zurich.ttf")
}

$primary-color: #8DC63F;
$accent-color: #373737;
$background-color: #FCFCFC;

html, body {
  margin: 0;
  height: 100vh;
  font-family: 'Zurich';
}

a, a:link, a:visited, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

